<h3>Listado de Héroes</h3>

<ul class="m-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{ name }}</li>
</ul>

<button
  class="btn btn-outline-danger"
  (click)="removeLastHero()"
  *ngIf="heroNames.length > 0"
>
  Borrar último héroe
</button>
<div *ngIf="heroRemoved; else nothingWasDeleted">
  <h3>
    Héroe borrado <small class="text-danger">{{ heroRemoved }}</small>
  </h3>
</div>

<ng-template #nothingWasDeleted
  ><h3>No sa ha borrado ningún héroe.</h3></ng-template
>
